@model Message
@{
    ViewData["Title"] = "Kontakt";
}

<h1>Kontakt</h1>

<div class="row">
    <div class="col-6">
        <form asp-action="Contact" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input type="text" asp-for="Subject" class="form-control">
                <span class="text-danger" asp-validation-for="Subject"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea type="text" asp-for="Description" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary">Posalji</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2994.4552318717974!2d20.447878871554177!3d44.89507456696353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssr!2srs!4v1588927141229!5m2!1ssr!2srs" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>


@section Scripts{
    
    <partial name="_ValidationScriptsPartial"/>
}
