﻿@model IEnumerable<Flamingo.Models.Products.ProductFrontView>;

@{
    ViewData["Title"] = "Home Page";
}
<h2>Novo u ponudi: </h2>
<hr>
<div class="row m-0 card-row">
    @foreach (var product in Model) {
        string productImage = (product.Tumbnail == null) ? "noimage.png" : product.Tumbnail.Location;

        <div class="col-3">
            <div class="card card-overlay">
                <div class="card-image-bg" style="background-image: url('images/product/@productImage');"></div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    @if (product.Description.Length > 30) {
                        <p class="card-text">@product.Description.Substring(0, 30) ...</p>
                    } else {
                        <p class="card-text">@product.Description</p>
                    }
                    <hr>
                    <p>Cena: <span>@product.Price</span></p>
                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Pogledaj</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row m-0 mt-5 mb-5">
    
    <div class="col-4 pl-0 text-center">
        <div class="bg-netutral describe-card ">
            <svg class="bi bi-house-door-fill" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
            </svg>
            <h5>Besplata dostava na vasu adresu</h5>
        </div>
    </div>
    <div class="col-4 pl-1 pr-1 text-center">
        <div class="bg-netutral describe-card ">
            <svg class="bi bi-credit-card" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                <rect width="3" height="3" x="2" y="9" rx="1"/>
                <path d="M1 5h14v2H1z"/>
            </svg>
            <h5>Placanje karticom</h5>
        </div>
    </div>
    <div class="col-4 pr-0 text-center">
        <div class="bg-netutral describe-card ">
            <svg class="bi bi-alarm" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A6 6 0 108 3a6 6 0 000 12zm0 1A7 7 0 108 2a7 7 0 000 14z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v4a.5.5 0 01-.053.224l-1.5 3a.5.5 0 11-.894-.448L7.5 8.882V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                <path d="M.86 5.387A2.5 2.5 0 114.387 1.86 8.035 8.035 0 00.86 5.387zM11.613 1.86a2.5 2.5 0 113.527 3.527 8.035 8.035 0 00-3.527-3.527z"/>
                <path fill-rule="evenodd" d="M11.646 14.146a.5.5 0 01.708 0l1 1a.5.5 0 01-.708.708l-1-1a.5.5 0 010-.708zm-7.292 0a.5.5 0 00-.708 0l-1 1a.5.5 0 00.708.708l1-1a.5.5 0 000-.708zM5.5.5A.5.5 0 016 0h4a.5.5 0 010 1H6a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                <path d="M7 1h2v2H7V1z"/>
            </svg>
            <h5>Do 24 casa isporuka</h5>
        </div>
    </div>
</div>
<h2 class="mt-3">Izdvojili smo za vas: </h2>
<hr>
<div class="row m-0 card-row">
    @foreach (var product in ViewBag.Featured) {
        string productImage = (product.Tumbnail == null) ? "noimage.png" : product.Tumbnail.Location;

        <div class="col-3">
            <div class="card card-overlay">
                <div class="card-image-bg" style="background-image: url('images/product/@productImage');"></div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name - @product.Brand.Name</h5>
                    @if (product.Description.Length > 30) {
                        <p class="card-text">@product.Description.Substring(0, 30) ...</p>
                    } else {
                        <p class="card-text">@product.Description</p>
                    }
                    <hr>
                    <p>Cena: <span>@product.Price</span></p>
                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Pogledaj</a>
                </div>
            </div>
        </div>
    }
</div>
