@model Flamingo.Models.Brands.Brand
@{
    ViewData["Title"] = "Edit Brand";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Edit Brand</h1>
</div>

<form class="col-8" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url"></label>
        <input type="text" asp-for="Url" class="form-control">
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="categoryList">Categories</label>
        <select id="categoryList" name="categoryList" class="form-control" asp-items="@ViewBag.Categories" multiple></select>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
</form>
<a asp-action="Index" class="d-block mt-3 text-secondary">Go back to brands</a>