@model IEnumerable<Flamingo.Models.Brands.CategoryBrandDisplay>

@{
    ViewData["Title"] = "Brands"; 
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Brands</h1>
</div>
<a class="btn btn-secondary btn-sm mb-3" asp-action="Create">Add new brand</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Brand Name</th>
            <th>Url</th>
            <th>Categories Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.BrandId
                </td>
                <td>
                    @item.BrandName
                </td>
                <td>
                    <a target="_blank" href="@item.Url">@item.Url</a>
                </td>
                <td>
                    @{
                        int count = item.CategoryNames.Count();
                        int counter = 0;
                    }
                    @foreach (var category in item.CategoryNames) {
                        @if (counter == count - 1) {
                            @category.Name
                        } else {
                            var categoryName = category.Name + ", ";
                            @categoryName
                        }

                        counter++;
                    }
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.BrandId" class="deleteButton">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>