@model Flamingo.Models.Checkout.CheckoutView

@{
    ViewData["Title"] = "Checkout";
}

<h1 class="p-5 mb-5 text-center border-bottom">Checkout</h1>

<div class="w-100 mb-5 checkout-cart">
    <div class="w-75 m-auto">
        <h4>Proizvodi u korpi</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ime</th>
                <th>Cena</th>
                <th>Broj</th>
                <th class="text-right">Ukupna cena</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.CurrentSessionItems.CartItems)
            {
                var total = item.Price * item.Quantity;
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Price RSD
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td class="text-right">
                        @total RSD
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Broj proizvoda</th>
                        <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left">@ViewBag.CurrentSessionItems.GrandQuantity</td>
                        <td class="text-right">@ViewBag.CurrentSessionItems.GrandTotal RSD</td>
                    </tr>
                    </tbody>
                </table>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<form class="w-75 m-auto" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-6">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-10">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-2">
            <label asp-for="Zipcode"></label>
            <input type="text" asp-for="Zipcode" class="form-control">
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="StreetAddress"></label>
            <input type="text" asp-for="StreetAddress" class="form-control">
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="City"></label>
            <input type="text" asp-for="City" class="form-control">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="PhoneNumber"></label>
            <input type="text" asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-6 mt-5 p-0">
        <button class="btn btn-secondary btn-block">Postvi narudzbinu</button>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}