﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flamingo</title>
    <link rel="icon" href="~/images/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_Navbar" />
<div class="container">
    <partial name="_Messages"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-6 pt-3">
                    <h3>Info</h3>
                    <ul class="list">
                        <li>E-mail: <a href="mailto:stojkovictatjana3@gmail.com">stojkovictatjana3@gmail.com</a></li>
                        <li>Broj telefona: 0783615152</li>
                        <li>U Beogradu &copy; Tatjana Stojkovic @DateTime.Now.Year</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
