<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 navbar-two-rows border-bottom">
        <div class="container primary-container pb-4 pt-1">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img style="width: 50px" src="~/images/icon.png">
                <span class="ml-2 logo-text">Flamingo</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="container p-0">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Pocetna</a>
                        </li>
                        @await Component.InvokeAsync("Navbar")
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 mr-auto justify-content-end align-items-center">
                        <li class="nav-item">
                            <a class="text-dark pl-2 pr-2" asp-controller="Cart" asp-action="Index">
                                <svg class="bi bi-bag" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z" clip-rule="evenodd" />
                                    <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z" />
                                </svg>
                            </a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle absolute text-dark" data-toggle="dropdown" id="userDropdown">@User.Identity.Name</a>
                                <div class="dropdown-menu dropdown-custom" aria-labelledby="userDropdown">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Customers" asp-action="Index">Admin panel</a>
                                    }
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Edit">Informacije</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Odjava</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Registracija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Prijava</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>