@model Flamingo.Models.Cart.CartView
@{
    ViewData["Title"] = "Korpa";
}

@if (Model.CartItems.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ime proizvoda
                </th>
                <th>
                    Kolicina
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Ukupna cena
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td>
                    @cartItem.ProductName
                </td>
                <td>
                    <form>
                        <div class="form-group">
                            <a asp-action="Decrement" asp-route-id="@cartItem.ProductId" class="btn btn-secondary cart-decrement" data-id="@cartItem.ProductId">
                                <svg class="bi bi-caret-left-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
                                </svg>
                            </a>
                            <input type="text" class="form-control" style="display: inline;width: 50px; margin:0;" value="@cartItem.Quantity" disabled>
                            <a asp-action="Increment" asp-route-id="@cartItem.ProductId" class="btn btn-secondary cart-increment" data-id="@cartItem.ProductId">
                                <svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                                </svg>
                            </a>
                        </div>
                    </form>
                </td>
                <td>
                    @cartItem.Price
                </td>
                <td>
                    @cartItem.Total
                </td>
                <th>
                    <a asp-action="Remove" asp-route-id="@cartItem.ProductId" class="btn btn-info cart-delete">Delete</a>
                </th>
            </tr>
        }
        </tbody>
    </table>

    <table class="table-final">
        <thead>
            <tr>
                <th>
                    Ukupan broj proizvoda
                </th>
                <th>
                    Ukupna cena
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.GrandQuantity
                </td>
                <td>
                    @Model.GrandTotal
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-5 mb-5">
        <div class="col-4">
            <a asp-action="RemoveAll" class="btn btn-danger btn-block delete-btn">Obrisi korpu</a>
        </div>
        <div class="col-4 offset-4">
            <a asp-controller="Checkout" asp-action="Index" class="btn btn-secondary btn-block">Idi na kupovinu</a>
        </div>
    </div>
} else {
    <h3 class="display-4 text-center pt-5 pb-5 mt-5 mb-5">Korpa je prazna</h3>
    
    <div class="row">
        <div class="col-4 offset-4 text-center mb-5">
            <a asp-controller="Products" asp-action="Index" class="btn btn-secondary">Pogledaj proizvode</a>
        </div>
    </div>
}

@section Scripts
{
    <script >
    </script>
}
