@model Flamingo.Models.Customer.CustomerEdit

@{
    ViewData["Title"] = @Model.UserName;
}

<h1 class="mt-5 mb-5 pb-5 border-bottom">@Model.FirstName @Model.LastName</h1>

<h3>Info</h3>
<form method="post" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserName">
    <div class="row">
        <div class="col-6 border-right">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input type="text" asp-for="FirstName" class="form-control">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input type="text" asp-for="LastName" class="form-control">
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input type="text" asp-for="PhoneNumber" class="form-control">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress"></label>
                <input type="text" asp-for="StreetAddress" class="form-control">
                <span class="text-danger" asp-validation-for="StreetAddress"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input type="text" asp-for="City" class="form-control">
                <span class="text-danger" asp-validation-for="City"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode"></label>
                <input type="text" asp-for="Zipcode" class="form-control">
                <span class="text-danger" asp-validation-for="Zipcode"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Izmeni</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
