@model Flamingo.Models.Customer.Login

@{
    ViewData["Title"] = "Login";
}

<h1 class="mt-3 mb-5 text-center">Prijava</h1>

<form asp-action="Login" class="col-8 offset-2" method="post">
    <div class="text-center" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ReturnUrl" >
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Prijavite se</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
