@model Flamingo.Models.Customer.User
@{
    ViewData["Title"] = "Registracija";
}
<h1 class="mt-3 mb-5 text-center">Registracija</h1>
<form method="post" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6 border-right">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input type="text" asp-for="FirstName" class="form-control">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input type="text" asp-for="LastName" class="form-control">
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input type="text" asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input type="text" asp-for="PhoneNumber" class="form-control">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress"></label>
                <input type="text" asp-for="StreetAddress" class="form-control">
                <span class="text-danger" asp-validation-for="StreetAddress"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input type="text" asp-for="City" class="form-control">
                <span class="text-danger" asp-validation-for="City"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode"></label>
                <input type="text" asp-for="Zipcode" class="form-control">
                <span class="text-danger" asp-validation-for="Zipcode"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Registracija</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
