@model string

@{
    ViewData["Title"] = "Create Role";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Roles</h1>
</div>

<form method="post">
    <div class="form-group">
        <label for="name">Role name</label>
        <input type="text" id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-secondary" type="submit">Create</button>
    </div>
</form>