@model Flamingo.Models.Customer.RoleEdit

@{
    ViewData["Title"] = "Edit role";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Edit Role: @Model.Role.Name</h1>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" name="RoleName" value="@Model.Role.Name" >
    <div class="row">
        <div class="col-6">
            <h2>Add users to <span class="badge badge-secondary">@Model.Role.Name</span> role</h2>
            <table class="table table-bordered">
                @if (Model.NonMembers.Count() == 0)
                {
                    <tr>
                        <td>All users are members of this role</td>
                    </tr>
                }
                else
                {
                    foreach (var user in Model.NonMembers)
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                <input type="checkbox" value="@user.Id" name="AddIds" id="">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-6">
            <h2>Remove users from <span class="badge badge-secondary">@Model.Role.Name</span> role</h2>
            <table class="table table-bordered">
                @if (Model.Members.Count() == 0)
                {
                    <tr>
                        <td>There are no members in this role</td>
                    </tr>
                }
                else
                {
                    foreach (var user in Model.Members)
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                <input type="checkbox" value="@user.Id" name="DeleteIds" id="">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary">Add/Remove</button>
    </div>
</form>