﻿html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.logo-text {
  font-family: 'Courgette', cursive;
}

.price-display {
  font-size: 1.2rem;
}

.bg-netutral {
  background-color: #eee;
}

.describe-card {
  padding: 10px 0;
  border-right: 2px solid rgba(152, 219, 65, 0.9);
}

.describe-card:last-child {
  border: none;
}

.describe-card:hover {
  box-shadow: 2px 2px 4px 0px #999;
}

.describe-card h5 {
  font-size: 0.9rem;
  padding: 5px 0 0 0;
}

.list {
  display: block;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.list li {
  width: 100%;
  display: block;
  padding: 5px 0;
}

.navbar.navbar-two-rows {
  background-color: rgba(152, 219, 65, 0.9);
  flex-direction: column;
}

.dropdown-menu.dropdown-custom {
  padding-top: 50px;
  min-width: 250px;
  border: none;
  box-shadow: 1px 1px 5px #333;
  border-radius: 0;
  top: 0;
  z-index: 4;
}

.nav-link.dropdown-toggle.absolute {
  position: relative;
  z-index: 5;
}

.nav-link.dropdown-toggle.absolute::after {
  margin-left: .400em;
}

/* Custom styles */

.card-row .col-3 {
  padding: 4px;
}

.card.card-overlay {
  background-color: transparent;
  position: relative;
  min-height: 200px;
  border: none;
}

.card.card-overlay .card-image-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-size: 150% 150%;
  background-position: 50% 50%;
  z-index: 1;
}

.card.card-overlay {
  overflow: hidden;
}

.card.card-overlay .card-body {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.card.card-overlay .card-body .card-text {
  min-height: 50px;
}

.card.card-overlay .card-body a.btn {
  width: 100%;
  background-color: rgba(152, 219, 65, 0.9);
  border: none;
  cursor: pointer;
}

.card.card-overlay .card-body a.btn:hover {
  background-color: rgba(152, 219, 65, 0.7);
}

.img-lightshow {
  width: 100%;
  padding: 3px;
}

.img-lightshow .img-lightshow-main,
.img-lightshow .img-lightshow-empty {
  width: 100%;
}

.img-lightshow .img-lightshow-main {
  border-bottom: 2px solid #999;
  padding: 5px 0;
}

.img-lightshow .img-lightshow-main img,
.img-lightshow .img-lightshow-empty img {
  width: 100%;
}

.img-lightshow .img-lightshow-choices {
  width: 100%;
  margin-top: 10px;
}
.img-lightshow .img-lightshow-choices img {
  border: 2px solid #999;
  padding: 3px;
  width: 100%;
  cursor: pointer;
}

.img-lightshow .img-lightshow-choices img.current {
  border: 2px solid rgb(45, 207, 186);
}

table.table {
  border-left: none;
  border-bottom: 2px solid #ddd;
}

.table-final {
  width: 100%;
}

.table-final tr td,
.table-final tr th {
  width: 50%;
  padding: 5px;
}

.table-final tr td:first-child,
.table-final tr th:first-child {
  text-align: left;
}

.table-final tr td:last-child,
.table-final tr th:last-child {
  text-align: right;
}

.checkout-cart {
  padding: 10px 0;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 7px #ddd;
}