@model Flamingo.Models.Products.Product
@{
    ViewData["Title"] = "Create Product";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Create Product</h1>
</div>

<form method="POST" class="col-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input type="number" class="form-control" asp-for="Quantity">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-check border-top border-bottom pt-4 pb-4 mb-1 mt-1">
        <input type="checkbox" class="form-check-input" asp-for="IsFeatured">
        <label asp-for="IsFeatured"></label>
        <span asp-validation-for="IsFeatured" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Barcode"></label>
        <input type="text" class="form-control" asp-for="Barcode">
        <span asp-validation-for="Barcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BrandId"></label>
        <select class="form-control" asp-for="BrandId" asp-items="@ViewBag.Brands"></select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary">Create</button>
    </div>
</form>