@model Flamingo.Models.Products.Product
@{
    ViewData["Title"] = "Edit product data";
}

<a asp-action="Index" class="d-block mt-3 text-secondary">Go back to product</a>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Edit product data</h1>
</div>

<h3>Product images</h3>
<form asp-controller="ProductImages" asp-action="Add" method="POST" enctype="multipart/form-data" class="col-8">
    <input type="hidden" asp-for="Id">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="productImage" name="productImage">
        <label class="custom-file-label" for="productImage">Choose image</label>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-secondary">Upload</button>
    </div>
</form>
<h5>Images</h5>
<div class="row">
    @if (ViewBag.Images.Count > 0) {
        @foreach ( var productImage in ViewBag.Images ) {
            <div class="col-2">
                <img class="img-thumbnail" src="~/images/product/@productImage.Image.Location" alt="@productImage.Image.Alt">
            </div>
        }
    } else {
        <div class="col-2">
            <img class="img-thumbnail" src="~/images/product/noimage.png" alt="No image">
        </div>
    }
    
</div>
<hr>
<h3>Product data</h3>
<form method="POST" class="col-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="Barcode">
    <input type="hidden" asp-for="CreatedAt">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input type="number" class="form-control" asp-for="Quantity">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-check border-top border-bottom pt-4 pb-4 mb-1 mt-1">
        <input type="checkbox" class="form-check-input" asp-for="IsFeatured">
        <label asp-for="IsFeatured"></label>
        <span asp-validation-for="IsFeatured" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BrandId"></label>
        <select class="form-control" asp-for="BrandId" asp-items="@ViewBag.Brands"></select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary">Edit</button>
    </div>
</form>