@model IEnumerable<Flamingo.Models.Products.Product>;

@{
    ViewData["Title"] = "Products";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Products</h1>
</div>

<a class="btn btn-secondary btn-sm mb-3" asp-action="Create">Add new product</a>

@if (Model.Count() > 0) {
    <table class="table table-striped col-12">
        <thead class="thead-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Barcode
                </th>
                <th>
                    Category
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Featured
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@String.Format("{0:C0}", item.Price)</td>
                    <td>@item.Barcode</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Brand.Name</td>
                    <td>@item.IsFeatured</td>
                    <td class="text-right">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="deleteButton">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>There is currently no products.</p>
}
