@using System.Linq
@model Flamingo.Models.Products.ProductFrontDetailView

@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>
<div class="row">
    <div class="col-6">
        <div class="img-lightshow">
            @if (Model.Images != null && Model.Images.Count > 0)
            {
                <div class="img-lightshow-main">
                    <img class="lightshow-image-main" src="~/images/product/@Model.Images.FirstOrDefault().Location" alt="@Model.Name">
                </div>
                <div class="img-lightshow-choices">
                    <div class="row">
                        @foreach (var image in Model.Images)
                        {
                            <div class="col-3">
                                <img class="lightshow-image-choice" src="~/images/product/@image.Location" alt="@Model.Name">
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="img-lightshow-empty">
                    <img src="~/images/product/noimage.png" alt="@Model.Name">
                </div>
            }
        </div>
    </div>
    <div class="col-6">
        <h3>Opis proizvoda:</h3>
        <p>@Model.Description</p>
        <hr>
        <p>Cena: @Model.Price RSD</p>

        <div class="row">
            @if (@Model.Quantity > 0)
            {
                <div class="col-3">
                    <p>Ostalo je jos: @Model.Quantity</p>
                </div>
                <div class="col-9">
                    <form action="">
                        <input type="hidden" asp-for="Id">
                        <button id="add-to-cart" type="button" class="btn btn-secondary btn-block">Dodaj u korpu</button>
                    </form>
                </div>
            }
            else
            {
                <div class="col-12 p-3 bg-warning text-dark">
                    Trenutno nemamo ovaj proizvod na stanju.
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const choices = $(".lightshow-image-choice");
        if (choices.length) {
            const main = $('.lightshow-image-main');

            choices.first().addClass("current");

            choices.each(function() {
                $(this).click(function() {
                    const src = $(this).attr('src');

                    choices.each(function() {
                        $(this).removeClass("current");
                    });

                    $(this).addClass("current");
                    main.attr('src', src);
                });
            });
        }

        const Id = $("#Id");

        $("#add-to-cart").click(function() {
            const dataToSend = {
                id: Id.val()
            };

            $.ajax({
                type: "post",
                url: "/Cart/Add/" + Id.val(),
                success: function (data) {
                    alert("Uspesno ste dodali @Model.Name u korpu!");
                },
                error: function(xhr, status, text) {
                    alert("ERROR: " + xhr.responseText);
                }
            });
        });
    </script>
}