@model List<Flamingo.Models.Products.ProductFrontView>
@{
    ViewData["Title"] = "Proizvodi";

    int[] prices = {1000, 2000, 4000, 7000, 10000, 12000, 15000, 20000, 40000, 60000, 80000, 100000, 150000, 200000, 300000, 500000};
}

<div class="accordion mb-5" id="filters">
    <div class="card border-0">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="true" aria-controls="filterCollapse">
                    Filteri
                </button>
            </h2>
        </div>
        <div id="filterCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#filters">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="priceLess">Cena manja od:</label>
                                <select name="priceLess" id="priceLess" class="form-control">
                                    <option value="-1">Izaberite cenu manju od</option>
                                    @foreach(var price in prices) {
                                        <option value="@price">@price RSD</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="priceGreat">Cena veca od:</label>
                                <select name="priceGreat" id="priceGreat" class="form-control">
                                    <option value="-1">Izaberite cenu vecu od</option>
                                    @foreach(var price in prices) {
                                        <option value="@price">@price RSD</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="nameSort">Sortiraj po imenu</label>
                                <select name="nameSort" id="nameSort" class="form-control">
                                    <option value="0">Izaberite</option>
                                    <option value="1">A-Z</option>
                                    <option value="2">Z-A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Potvrdi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 card-row">
    @if (Model.Count() > 0) {
        @foreach(var product in Model) {
            string productImage = (product.Tumbnail == null) ? "noimage.png" : product.Tumbnail.Location;

            <div class="col-3">
                <div class="card card-overlay">
                    <div class="card-image-bg" style="background-image: url('images/product/@productImage');"></div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Name - @product.Brand.Name</h5>
                        @if (product.Description.Length > 30) {
                            <p class="card-text">@product.Description.Substring(0, 30) ...</p>
                        } else {
                            <p class="card-text">@product.Description</p>
                        }
                        <hr>
                        <p>Cena: <span>@product.Price</span></p>
                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Pogledaj</a>
                    </div>
                </div>
            </div>
        }
    } else {
        <p>Trenutno ne postoji ni jedan proizvod</p>
    }
</div>
