@model Flamingo.Models.Categories.Category;
@{
    ViewData["Title"] = "Create Category";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Create Category</h1>
</div>
<form method="POST" class="col-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" type="text" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary">Submit</button>
    </div>
</form>
<a asp-action="Index" class="d-block mt-3 text-secondary">Go back to categories</a>