@model IEnumerable<Flamingo.Models.Categories.Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Categories</h1>
</div>
<a class="btn btn-secondary btn-sm mb-3" asp-action="Create">Add new category</a>
<form asp-action="Index" class="col-12 p-0 mb-3">
    <div class="row">
        <div class="col-5">
            <input type="search" class="form-control" name="search" placeholder="Search...">
        </div>
        <div class="col-5">
            <select name="order" class="form-control">
                <option value="0">Select sorting option</option>
                <option value="1">Name Ascending</option>
                <option value="2">Name Descending</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-block" type="submit">Search</button>
        </div>
    </div>
</form>
<table class="table table-striped col-12">
    <thead class="thead-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="deleteButton">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>