@model List<Flamingo.Models.Categories.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle absolute text-dark" data-toggle="dropdown" id="categoriesDropdown">Proizvodi</a>
    <div class="dropdown-menu dropdown-custom" aria-labelledby="categoriesDropdown">
        @if (Model.Count() > 0) {
            <a class="dropdown-item" asp-controller="Products" asp-action="Index">Svi proizvodi</a>
            <div class="dropdown-divider"></div>
            @foreach (var category in Model) {
                <a class="dropdown-item" asp-controller="Products" asp-action="Index" asp-route-category="@category.Id">@category.Name</a>
            }
        } else {
            <p>Trenutno ne postoji ni jedna kategorija.</p>
        }
    </div>
</li>