@model IQueryable<Flamingo.Models.Customer.AppCustomer>

@{
    ViewData["Title"] = "Customers";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Customers</h1>
</div>

<table class="table table-striped col-12">
    <thead class="thead-dark">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Phone number
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <th>
                <a asp-action="Remove" asp-route-name="@item.UserName">Delete</a>
            </th>
        </tr>
    }
    </tbody>
</table>