@model Flamingo.Models.Checkout.Order
@{
    ViewData["Title"] = "Detail";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Order No: @Model.Id</h1>
</div>

<div class="row">
    <div class="col-6">
        <h2>Order info</h2>
        <ul class="list-group">
            <li class="list-group-item">Firstname: @Model.FirstName</li>
            <li class="list-group-item">Lastname: @Model.LastName</li>
            <li class="list-group-item">Email: @Model.Email</li>
            <li class="list-group-item">Street address: @Model.StreetAddress</li>
            <li class="list-group-item">Phone number: @Model.PhoneNumber</li>
            @if (Model.OrderStatus.Name == "Canceled")
            {
                <li class="list-group-item">Order status: <span class="text-danger">@Model.OrderStatus.Name</span></li>
            }
            else if (Model.OrderStatus.Name == "Onhold")
            {
                <li class="list-group-item">Order status: <span class="text-warning">@Model.OrderStatus.Name</span></li>
            }
            else if (Model.OrderStatus.Name == "Pending")
            {
                <li class="list-group-item">Order status: <span class="text-info">@Model.OrderStatus.Name</span></li>
            }
            else if (Model.OrderStatus.Name == "Shipped")
            {
                <li class="list-group-item">Order status: <span class="text-success">@Model.OrderStatus.Name</span></li>
            }
        </ul>
    </div>
    <div class="col-6">
        <h2>Order items</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="text-right">Sum</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.OrderItems)
            {
                var sum = item.Product.Price * item.Quantity;
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price RSD</td>
                    <td>@item.Quantity</td>
                    <td class="text-right">@sum RSD</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="text-right">Total price: @Model.Price RSD</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>