@model Flamingo.Models.Checkout.Order

@{
    ViewData["Title"] = "Edit Order";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Edit Order No: @Model.Id</h1>
</div>

<form method="post">
    <input type="hidden" asp-for="DateCreated">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="OrderStatusId"></label>
        <select class="form-control" asp-for="OrderStatusId" asp-items="@ViewBag.OrderStatuses"></select>
    </div>
    
    <div class="row">
        <div class="form-group col-6">
            <label asp-for="FirstName"></label>
            <input class="form-control" type="text" asp-for="FirstName">
        </div>
        <div class="form-group col-6">
            <label asp-for="LastName"></label>
            <input class="form-control" type="text" asp-for="LastName">
        </div>
        <div class="form-group col-6">
            <label asp-for="Email"></label>
            <input class="form-control" type="text" asp-for="Email">
        </div>
        <div class="form-group col-6">
            <label asp-for="City"></label>
            <input class="form-control" type="text" asp-for="City">
        </div>
        <div class="form-group col-3">
            <label asp-for="Price"></label>
            <input class="form-control" type="text" asp-for="Price">
        </div>
        <div class="form-group col-3">
            <label asp-for="Zipcode"></label>
            <input class="form-control" type="text" asp-for="Zipcode">
        </div>
        <div class="form-group col-6">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" type="text" asp-for="PhoneNumber">
        </div>
        <div class="form-group col-6">
            <label asp-for="StreetAddress"></label>
            <input class="form-control" type="text" asp-for="StreetAddress">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Update order</button>
    </div>
</form>