@model List<Flamingo.Models.Checkout.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Orders</h1>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>OrderID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Street address</th>
        <th>Phone Number</th>
        <th>Price</th>
        <th>Date Created</th>
        <th>Order status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.FirstName</td>
            <td>@order.LastName</td>
            <td>@order.Email</td>
            <td>@order.StreetAddress</td>
            <td>@order.PhoneNumber</td>
            <td>@order.Price</td>
            <td>@order.DateCreated</td>
            @if (order.OrderStatus.Name == "Canceled")
            {
                <td class="text-danger">@order.OrderStatus.Name</td>
            }
            else if (order.OrderStatus.Name == "Onhold")
            {
                <td class="text-warning">@order.OrderStatus.Name</td>
            }
            else if (order.OrderStatus.Name == "Pending")
            {
                <td class="text-info">@order.OrderStatus.Name</td>
            }
            else if (order.OrderStatus.Name == "Shipped")
            {
                <td class="text-success">@order.OrderStatus.Name</td>
            }
            
            <td>
                <a asp-action="Detail" asp-route-id="@order.Id">Detail</a> | 
                <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
                <a asp-action="Remove" asp-route-id="@order.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

