@model Message

@{
    ViewData["Title"] = "Message";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Message from @Model.Name</h1>
</div>

<ul class="list-group">
    <li class="list-group-item">
        Email address: @Model.Email
    </li>
    <li class="list-group-item">
        Subject: @Model.Subject
    </li>
    <li class="list-group-item">
        Message: @Model.Description
    </li>
</ul>

<a asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-danger mt-5 deleteButton">
    Delete Message
</a>