@model List<Message>

@{
    ViewData["Title"] = "Messages";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Messages</h1>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <td>Fistname and Lastname</td>
        <td>Email</td>
        <td>Subject</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.Name</td>
            <td>@message.Email</td>
            <td>@message.Subject</td>
            <td>
                <a asp-action="Detail" asp-route-id="@message.Id">Detail</a> | 
                <a asp-action="Remove" class="deleteButton" asp-route-id="@message.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>