@if (TempData["Success"] != null) {
    <div class="bg-success text-white p-3 mt-2 notification">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null) {
    <div class="bg-danger text-white p-3 mt-2 notification">
        @TempData["Error"]
    </div>
}